:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --text-primary: #403f3d;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
  --background-modal: #e1d4c9;
  --background-modalcontrol: #665f55;
  --dark-bg-modal: var(--dark-bg-container);
  --dark-bg-modal-control: var(--dark-bg-page);
}
:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}

.container {
  max-width: 1440px;
  background-color: var(--background-page);
  margin: 0 auto;
  padding: 0 40px;
}
.header {
  padding: 20px 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.nav-link {
  padding: 16px;
  color: var(--text-primary);
  text-decoration: none;
}
.header-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}
.theme {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  padding: 4px;
  width: 88px;
  height: 44px;
}
.theme-icon {
  width: 36px;
  height: 36px;
}
.menu-link {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: var(--text-primary);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
/* ------------ HERO ---------*/
.hero-container {
  border-radius: 40px;
  padding: 100px;
  max-width: 1360px;
  background: url("./assets/images/img-hero.png") no-repeat center / cover;
}
.hero-info {
  max-width: 530px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.hero-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 105%;
  color: var(--text-inverse);
}
.title-accent {
  color: var(--text-accent);
  font-style: italic;
}
.hero-text {
  font-weight: 400;
  color: var(--text-inverse);
}
.hero-button {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 20px 78px;
  width: 200px;
  height: 64px;
  border: none;
  background: var(--text-inverse);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-primary);
  text-decoration: none;
}
.hero-button-image {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  width: 20px;
  height: 20px;
}
.hero-button:hover {
  .hero-button-image {
    opacity: 1;
    visibility: visible;
  }
}
.section-favorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.section-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
}
.favorite-title {
  text-align: center;
}
.section-info {
  font-weight: 400;
}
.slider {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  width: 60px;
  height: 60px;
}
.slider-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
}
.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.slider-content_title,
.slider-content_price {
  font-size: 24px;
  line-height: 125%;
}
.slider-content_description {
  font-weight: 400;
}

.slider-controls {
  display: flex;
  gap: 12px;
}

.controls-item {
  width: 40px;
  height: 4px;
  border: solid 1px var(--border-primary);
}

.controls-item_active {
  background-color: var(--background-container);
}

.cards-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.cards-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}
.card-1,
.card-4 {
  height: 660px;
}
.card-2,
.card-3 {
  height: 430px;
}

.about-image {
  width: 110%;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}
/* ------------------- Mobile --------------- */
.mobile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-offer {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-screens {
  max-width: 630px;
}
.mobile-screens img {
  width: 100%;
}
.mobile-buttons-container {
  display: flex;
  gap: 20px;
}
.mobile-button {
  display: flex;
  gap: 8px;
  border: 1px solid var(--background-container);
  background-color: var(--background-modal);
  border-radius: 100px;
  padding: 12px 20px;
  width: 200px;
  height: 64px;
  cursor: pointer;
  transition: 0.5s;
}
.mobile-button:hover {
  background: var(--background-container);
  .button-text,
  .button-title {
    color: var(--text-inverse);
  }

  svg path {
    fill: var(--text-inverse);
  }
}

.button-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button-text {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
}
.button-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}
/* ------------ Footer --------- */

.footer {
  display: flex;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  padding: 100px;
  background: var(--background-container);
  color: var(--text-inverse);
}
.footer-offer {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.socials {
  display: flex;
  gap: 12px;
}
.socials-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.contacts-info {
  max-height: 186px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts-info-title {
  font-size: 24px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}
.contacts-item {
  display: flex;
  gap: 16px;
}
.contacts-item a {
  text-decoration: none;
  color: var(--text-inverse);
}

/* -----------MENU PAGE ----------*/
.menu-title {
  text-align: center;
}
